.App {
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.season-display {
  padding: 5px;
  border: 6px solid #000000;
}

.Fall {
  background: #FF6F61
}

.Winter {
  background: green;
  color: red;
  border: red;
}

.Spring {
  background: white;
  color: lightgreen;
  border-color: lightgreen;
}

.Summer {
  background: yellow;
  color: black;
}
